{% extends "base.html" %}

{% block title %}Paper - Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h3 class=" capital-text center"><strong>Paper</strong></h3>
    {% if papers %}
    <table class="col l8 highlight z-depth-3">
        <tr>
            <th></th>
            <th style="width:25%">Name</th>
            <th style="width:25%">Dimension</th>
            <th>No of Sheets</th>
            <th><a href="{{ url_for('paper.add') }}" class="btn green right margin-x-5">Add New</a></th>
        </tr>
        {% for paper, sheet in papers %}
        <tr>
            <td></td>
            <td>{{paper.name}}</td>
            <td>{{paper.dimension}}</td>
            <td>{{sheet.no_pages}}</td>
            <td class="right" style="display: flex;">
                <a href="{{ url_for('inventory.add', id=paper.id_paper) }}" class="btn margin-x-5">Add Sheet</a>
                <a href="{{ url_for('paper.edit', id=paper.id_paper) }}" class="btn grey margin-x-5">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No data.</p>
    <a href="{{ url_for('paper.add') }}" class="btn green margin-x-5">Add New</a>
    {% endif %}
</div>
{% endblock %}