{% extends "base.html" %}

{% block title %}Print Price - Dashboard{% endblock %}

{% block content %}
<div class="container" style="padding-bottom: 5%;">
    <h3 class=" capital-text center"><strong>Print Price</strong></h3>
    <table class="highlight z-depth-3">
        <tr>
            <th colspan="6">
                <a href="{{ url_for('price.edit') }}" class="btn green right margin-x-5">Edit Prices</a>
                <a href="#" class="btn blue margin-x-5">This is a test</a>
            </th>
        </tr>
        <tr>
            <th></th>
            <th>Paper Name</th>
            <th>Dimension</th>
            <th>Category</th>
            <th>Print Type</th>
            <th>Price</th>
        </tr>
        {% if data %}
        {% for datum in data %}
        <tr>
            <td></td>
            <td>{{datum.Paper.name}}</td>
            <td>({{datum.Paper.dimension}})</td>
            <td>{{datum.PrintCategory.category_name}}</td>
            <td>{{datum.PrintPrice.print_type}}</td>
            <td>{{datum.PrintPrice.price}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <p class="center">
        <strong>
            ***NOTHING FOLLOWS***
        </strong>
    </p>
</div>
{% endblock %}