{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card z-depth-3 blue-grey darken-4">
        <div class="container">
            <!-- <span id="test">Change this</span>
            <span id="test1">Change this</span>
            <a href="javascript:test()">Change</a> -->
            <form action="#" id="the_form" method="post" class="row padding-top-5">
                {{ form.csrf_token }}
                <div class="input-field row">
                    {{form.paper}}
                </div>
                <span class="red-text text-lighten-1" id="error"></span>
                <div class="row">
                    <div class="col s3 m3 l3"></div>
                    <div class="col s3 m3 l4"><h4>BLK</h4></div>
                    <div class="col s3 m3 l5"><h4>CLR</h4></div>
                </div>
                <div class="row">
                    <div class="col l3">
                        <div class="row right-align">
                            {% if categories %}
                            {% for category in categories %}
                            <div class="col l12">
                                <h5>{{category.category_name}}</h5>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col l9">
                        {% for cat in form.categories %}
                        {{cat(class='col l4 white-text')}}
                        <div class="col l1"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <h4>Total Amount: Php <span id="total_amount">0.00</span></h4>
                </div>
                <div class="row">
                    <div class="col l6">
                        <input type="button" id="calculate" class="btn red lighten-1" value="Calculate">
                    </div>
                    <div class="col l4">
                        <input type="button" id="save" class="btn blue lighten-1" value="Save Transaction">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    // Initialization of select form.
    $(document).ready(function(){
        $('select').formSelect();
        // Button calculate clicked.
        $("#calculate").click(function(){
            $('#total_amount').text("...");
            calculate();
        });

        $("#save").click(function(){
            $('#total_amount').text("...");
            save_transaction();
        });

    });

    function calculate() {
        var input_list = []
        $('#the_form input[type=number]').each(function(){
            input_list.push($(this).val());
        });
        
        $.post("{{ url_for('home.json_this') }}",{
            paper: JSON.stringify($("select[name=paper]").val()),
            sheets: JSON.stringify(input_list)
        }).done(function(response){
            $('#total_amount').text(response['total_amount']);
            is_over(response['is_over']);
        }).fail(function(){
            $('#total_amount').text('Error');
        });
    }

    function save_transaction(){
        var input_list = []
        $('#the_form input[type=number]').each(function(){
            input_list.push($(this).val());
        });
        
        $.post("{{ url_for('home.save_transaction') }}",{
            paper: JSON.stringify($("select[name=paper]").val()),
            sheets: JSON.stringify(input_list)
        }).done(function(response){
            $('#total_amount').text(response['total_amount']);
            if(response['status'] == 'Success'){
                location.reload()
            }
            is_over(response['is_over']);
        }).fail(function(){
            $('#total_amount').text('Error');
        });
    }

    function is_over(bool){
        if(bool){
            $('#error').text("You entered more than the available sheets in the inventory.");
        }
        else{
            $('#error').text("");
        }
    }
</script>
{% endblock %}